html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Gatinho */
.cat {
  position: absolute;
  width: 48px;
  height: 48px;

  background-image: url("cat.png"); /* troque pelo seu sprite */
  background-size: contain;
  background-repeat: no-repeat;

  animation: run linear forwards;
}

/* Movimento base */
@keyframes run {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(60vw);
  }
}

